p.center, li.center {text-align: center;}
ul#menu li small a {font-size: .8em;}

ul#menu li.subtitle h2 {font-size: 16px; margin-bottom: 0px;}
ul#menu li.subtitle p  {font-size: 14px;}
ul#menu li.subtitle {margin-bottom: 5px;}
ul#menu li.promo {border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; padding: 10px 0;}
ul#menu li small {color: black;}
ul#menu li.promo a {padding: 0px}